In [1]:
%reload_ext autoreload
%autoreload 2

In [4]:
import pandas as pd
df = pd.read_csv('/Users/sheillapurwandiary/Desktop/HWR - BIPM_mac/Semester 2/EABD/git_kata/data/titanic.csv') 
female_passengers = df[df['sex'] == 'female']
print(female_passengers)

      pclass  survived                                             name  \
0          1         1                    Allen, Miss. Elisabeth Walton
2          1         0                     Allison, Miss. Helen Loraine
4          1         0  Allison, Mrs. Hudson J C (Bessie Waldo Daniels)
6          1         1                Andrews, Miss. Kornelia Theodosia
8          1         1    Appleton, Mrs. Edward Dale (Charlotte Lamson)
...      ...       ...                                              ...
1286       3         1  Whabee, Mrs. George Joseph (Shawneene Abi-Saab)
1290       3         1                 Wilkes, Mrs. James (Ellen Needs)
1300       3         1          Yasbeck, Mrs. Antoni (Selini Alexander)
1304       3         0                             Zabour, Miss. Hileni
1305       3         0                            Zabour, Miss. Thamine

         sex   age  sibsp  parch  ticket      fare    cabin embarked boat  \
0     female  29.0      0      0   24160  211.3375       B5        S    2
2     female   2.0      1      2  113781  151.5500  C22 C26        S  NaN
4     female  25.0      1      2  113781  151.5500  C22 C26        S  NaN
6     female  63.0      1      0   13502   77.9583       D7        S   10
8     female  53.0      2      0   11769   51.4792     C101        S    D
...      ...   ...    ...    ...     ...       ...      ...      ...  ...
1286  female  38.0      0      0    2688    7.2292      NaN        C    C
1290  female  47.0      1      0  363272    7.0000      NaN        S  NaN
1300  female  15.0      1      0    2659   14.4542      NaN        C  NaN
1304  female  14.5      1      0    2665   14.4542      NaN        C  NaN
1305  female   NaN      1      0    2665   14.4542      NaN        C  NaN

       body                        home.dest
0       NaN                     St Louis, MO
2       NaN  Montreal, PQ / Chesterville, ON
4       NaN  Montreal, PQ / Chesterville, ON
6       NaN                       Hudson, NY
8       NaN              Bayside, Queens, NY
...     ...                              ...
1286    NaN                              NaN
1290    NaN                              NaN
1300    NaN                              NaN
1304  328.0                              NaN
1305    NaN                              NaN

[466 rows x 14 columns]

In [3]:
df.head

<bound method NDFrame.head of       pclass  survived                                             name  \
0          1         1                    Allen, Miss. Elisabeth Walton
1          1         1                   Allison, Master. Hudson Trevor
2          1         0                     Allison, Miss. Helen Loraine
3          1         0             Allison, Mr. Hudson Joshua Creighton
4          1         0  Allison, Mrs. Hudson J C (Bessie Waldo Daniels)
...      ...       ...                                              ...
1304       3         0                             Zabour, Miss. Hileni
1305       3         0                            Zabour, Miss. Thamine
1306       3         0                        Zakarian, Mr. Mapriededer
1307       3         0                              Zakarian, Mr. Ortin
1308       3         0                               Zimmerman, Mr. Leo

         sex      age  sibsp  parch  ticket      fare    cabin embarked boat  \
0     female  29.0000      0      0   24160  211.3375       B5        S    2
1       male   0.9167      1      2  113781  151.5500  C22 C26        S   11
2     female   2.0000      1      2  113781  151.5500  C22 C26        S  NaN
3       male  30.0000      1      2  113781  151.5500  C22 C26        S  NaN
4     female  25.0000      1      2  113781  151.5500  C22 C26        S  NaN
...      ...      ...    ...    ...     ...       ...      ...      ...  ...
1304  female  14.5000      1      0    2665   14.4542      NaN        C  NaN
1305  female      NaN      1      0    2665   14.4542      NaN        C  NaN
1306    male  26.5000      0      0    2656    7.2250      NaN        C  NaN
1307    male  27.0000      0      0    2670    7.2250      NaN        C  NaN
1308    male  29.0000      0      0  315082    7.8750      NaN        S  NaN

       body                        home.dest
0       NaN                     St Louis, MO
1       NaN  Montreal, PQ / Chesterville, ON
2       NaN  Montreal, PQ / Chesterville, ON
3     135.0  Montreal, PQ / Chesterville, ON
4       NaN  Montreal, PQ / Chesterville, ON
...     ...                              ...
1304  328.0                              NaN
1305    NaN                              NaN
1306  304.0                              NaN
1307    NaN                              NaN
1308    NaN                              NaN

[1309 rows x 14 columns]>